.enter-valid-test-script-name,
.create-or-modify-test-script,
.add-or-modify-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: calc(100vh - 76.52px);
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.enter-valid-test-script-name::-webkit-scrollbar,
.create-or-modify-test-script::-webkit-scrollbar,
.add-or-modify-steps::-webkit-scrollbar {
    display: none;
}

.enter-valid-test-script-name-container,
.create-or-modify-test-script-container,
.add-or-modify-steps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 95%;
    max-width: 600px;
    padding-bottom: 20px;
}

.enter-valid-test-script-name-card,
.create-or-modify-test-script-card,
.add-or-modify-steps-card {
    width: 100%;
}

.submit-test-script-name-button,
.add-or-modify-steps-button,
.submit-or-update-test-script-button,
.add-step-button,
.back-button {
    padding: 10px;
    /* margin-top: 5px; */
    margin-bottom: 10px;
    border: none;
    color: white;
    /* background-color: var(--lunikoBlue); */
    border-radius: 5px;
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14pt;
    height: 50px;
    width: 100%;
    transition: 200ms;
    box-shadow: 2px 2px 4px rgba(43, 43, 43, 0.6);
}

/* .add-step-button {
    margin-top: 10px;
} */

/* .back-button,
.submit-or-update-script-button {
    margin-top: 25px !important;
} */

.submit-test-script-name-button:not(:disabled),
.submit-or-update-test-script-name-button:not(:disabled),
.add-or-modify-steps-button,
.submit-or-update-test-script-button:not(:disabled),
.add-step-button:not(:disabled),
.back-button:not(:disabled) {
    background-color: var(--lunikoBlue);
}

.submit-test-script-name-button:disabled,
.submit-or-update-test-script-name-button:disabled,
.add-or-modify-steps-button:disabled,
.submit-or-update-test-script-button:disabled,
.add-step-button:disabled
.back-button:disabled {
    background-color: #BFBFBF;
}

/* .submit-or-update-test-script-button:not(:disabled):hover {
    background-color: #009952 !important;
} */

.submit-test-script-name-button:not(:disabled):hover,
.submit-or-update-test-script-name-button:not(:disabled):hover,
.add-or-modify-steps-button:not(:disabled):hover,
.submit-or-update-test-script-button:not(:disabled):hover,
.add-step-button:not(:disabled):hover,
.back-button:not(:disabled):hover {
    background-color: var(--lunikoOrange) !important;
}

.error-div {
    height: "100vw";
    width: "100%";
}