.delete-test-script {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: calc(100vh - 76.52px);
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.delete-test-script::-webkit-scrollbar {
    display: none;
}

.delete-test-script-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 95%;
    max-width: 600px;
    padding-bottom: 20px;
}

.delete-test-script-card {
    width: 100%;
}

.delete-test-script-button {
    padding: 10px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14pt;
    min-height: 50px;
    width: 100%;
    transition: 200ms;
    box-shadow: 2px 2px 4px rgba(43, 43, 43, 0.6);
}

.delete-test-script-button:not(:disabled) {
    background-color: var(--lunikoBlue);
}

.delete-test-script-button:disabled {
    background-color: #BFBFBF;
}

.delete-test-script-button:not(:disabled):hover {
    background-color: #d32f2f;
}

.material-dialog-delete .MuiPaper-root {
    width: 95%;
}