.image-dialog .MuiPaper-root {
    min-height: 93vh;
    min-width: 95%;
}

.image-dialog .MuiDialogContent-root {
    display: flex;
    /* flex-direction: column !important; */
    align-items: center;
    justify-content: center;
}

.image-dialog img {
    width: 100%;
    height: 100%;
}

.image-dialog-button {
    background-color: transparent;
    border: none;
}

.image-dialog-button:active {
    border: none;
}

.image-dialog-button img {
    height: 19px;
    width: 19px;
}
