.enter-valid-test-script-name,
.view-test-script-testing-sessions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    height: calc(100vh - 76.52px);
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.enter-valid-test-script-name::-webkit-scrollbar,
.view-test-script-testing-sessions::-webkit-scrollbar {
    display: none;
}

.enter-valid-test-script-name-container,
.view-test-script-testing-sessions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 95%;
    max-width: 600px;
    padding-bottom: 20px;
}

.enter-valid-test-script-name-card,
.view-test-script-testing-sessions-card {
    width: 100%;
}

/* .view-testing-session-details-button {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14pt;
    height: 50px;
    width: 100%;
    transition: 200ms;
    box-shadow: 2px 2px 4px rgba(43, 43, 43, 0.6);
} */

/* .view-testing-session-details-button:not(:disabled) {
    background-color: var(--lunikoBlue);
} */

/* .view-testing-session-details-button:disabled {
    background-color: #BFBFBF;
} */

/* .view-testing-session-details-button:hover {
    background-color: var(--lunikoOrange) !important;
} */

.testing-session-result {
    padding-left: 16px;
    padding-bottom: 0;
    margin-bottom: 10px !important;
}


#testing-session-result-header {
    display: flex;
    align-items: center;
}

#testing-session-result-header img {
    width: 20px;
    height: 20px;
    margin: -1px 0 0 10px;
}

#testing-session-result-main-contents {
    display: flex;
}

.testing-session-comments {
    margin-bottom: 25px !important; 
 }