.step-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* align-items: center; */
    /* margin-bottom: 20px; */
    transition: 500ms;
}

.step-number {
    min-width: 11.7%;
    position: relative;
    top: 16.5px;
}

.step-description {
    min-width: 80%;
}

.remove-step {
    min-width: 8.3%;
    position: relative;
    top: 16.5px;
}

.step-description .MuiBox-root {
    margin-bottom: 0 !important;
    /* position: relative; */
    /* top: 11px; */
}

img {
    width: 22px;
    height: 22px;
}

.no-steps-placeholder {
    font-size: 12pt;
    margin-bottom: 25px;
}