.step-container {
    display: flex;
    flex-direction: column;
    /* row-gap: 15px; */
    /* padding: 10px !important; */
    border-radius: 10px;
    /* align-items: center; */
    /* margin-bottom: 20px; */
    /* background-color: var(--lunikoLightGrey); */
    box-shadow: 1px 1px 4px rgba(43, 43, 43, 0.6);
    /* background-color: white; */
    background-image: url("../img/background_pattern_card.png");
    transition: 500ms;
}

.step-container::-webkit-scrollbar {
    display: none;
}

/* .step-container:first-of-type {
    margin-top: 5px;
} */

.step-number {
    /* min-width: 11.7%;
    position: relative;
    top: 16.5px; */
    font-size: 12pt;
    font-weight: 700;
    margin-bottom: 10px;
}

/* .step-description {
    align-self: center;
    min-width: 95%;
    margin-bottom: 30px;
} */

/* .remove-step {
    min-width: 8.3%;
    position: relative;
    top: 16.5px;
} */

.step-description .MuiBox-root {
    /* margin-bottom: 0 !important; */
    /* position: relative; */
    /* top: 11px; */
}

/* .step-data-inputted-by-user {
    align-self: center;
    min-width: 95%;
} */

.remove-step-button {
    width: 22px;
    min-height: 22px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: center;
    background-color: transparent;
    border: none;
}

.remove-step-button:not(:disabled) {
    background-image: url("../img/remove_icon_active.png");
}

.remove-step-button:disabled {
    background-image: url("../img/remove_icon_disabled.png");
}

/* .remove-step-icon:not(:disabled) {
    content: url("../img/remove_icon_active.png");
}

.remove-step-icon:disabled {
    content: url("../img/remove_icon_disabled.png");
} */

.no-steps-placeholder {
    font-size: 12pt;
    margin-bottom: 25px;
}