.view-testing-session-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    height: calc(100vh - 76.52px);
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.view-testing-session-details::-webkit-scrollbar {
    display: none;
}

.view-testing-session-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 95%;
    max-width: 600px;
    padding-bottom: 20px;
}

.view-testing-session-details-card {
    width: 100%;
}

.previous-step-button, .next-step-button {
    padding: 10px;
    /* margin-top: 5px; */
    margin-bottom: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14pt;
    height: 50px;
    width: 100%;
    transition: 200ms;
    box-shadow: 2px 2px 4px rgba(43, 43, 43, 0.6);
}

.previous-step-button:not(:disabled), .next-step-button:not(:disabled) {
    background-color: var(--lunikoBlue);
}

.previous-step-button:disabled .next-step-button:disabled {
    background-color: #BFBFBF;
}

.previous-step-button:not(:disabled):hover, .next-step-button:not(:disabled):hover {
    background-color: var(--lunikoOrange) !important;
}

.step-result {
    margin-bottom: 30px !important;
}

#step-result-contents {
    display: flex;
    align-items: center;
}

#step-result-contents img {
    width: 20px;
    height: 20px;
    margin: -1px 0 0 10px;
}